*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/bin
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/assets/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/files/*
.DS_Store
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
