---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/invoices?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-served-from:
      - https://api.harvestapp.com/invoices
      x-server:
      - rails8
      x-lb:
      - lb2
    body:
      encoding: US-ASCII
      string: ! '[{"invoices":{"id":2563573,"client_id":1446347,"period_start":null,"period_end":null,"number":"6","issued_at":"2013-03-22","due_at":"2013-03-22","amount":30.0,"currency":"United
        States Dollars - USD","state":"draft","notes":"","purchase_order":"","due_amount":30.0,"due_at_human_format":"upon
        receipt","created_at":"2013-03-22T21:09:34Z","updated_at":"2013-03-22T21:09:34Z","tax":null,"tax_amount":0.0,"subject":"Some
        thing that was done for $$","recurring_invoice_id":null,"tax2":null,"tax2_amount":0.0,"client_key":"1dbcba8fbc6a350bfeb42f1a2212095370261974","estimate_id":null,"discount":null,"discount_amount":0.0,"retainer_id":null,"created_by_id":242275,"client_name":"Joe''s
        Steam Cleaning 2"}},{"invoices":{"id":2315114,"client_id":1446347,"period_start":null,"period_end":null,"number":"5","issued_at":"2013-01-23","due_at":"2013-01-23","amount":10.0,"currency":"United
        States Dollars - USD","state":"draft","notes":"","purchase_order":"","due_amount":10.0,"due_at_human_format":"upon
        receipt","created_at":"2013-01-23T18:56:55Z","updated_at":"2013-01-23T18:56:55Z","tax":null,"tax_amount":0.0,"subject":"","recurring_invoice_id":null,"tax2"[...]
