---
http_interactions:
- request:
    method: get
    uri: https://api.harvestapp.com/invoices?status=draft&page=1&access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-served-from:
      - https://api.harvestapp.com/invoices
      x-server:
      - rails7
      x-lb:
      - lb2
    body:
      encoding: US-ASCII
      string: ! '[{"invoices":{"id":2563573,"client_id":1446347,"period_start":null,"period_end":null,"number":"6","issued_at":"2013-03-22","due_at":"2013-03-22","amount":30.0,"currency":"United
        States Dollars - USD","state":"draft","notes":"","purchase_order":"","due_amount":30.0,"due_at_human_format":"upon
        receipt","created_at":"2013-03-22T21:09:34Z","updated_at":"2013-03-22T21:09:34Z","tax":null,"tax_amount":0.0,"subject":"Some
        thing that was done for $$","recurring_invoice_id":null,"tax2":null,"tax2_amount":0.0,"client_key":"1dbcba8fbc6a350bfeb42f1a2212095370261974","estimate_id":null,"discount":null,"discount_amount":0.0,"retainer_id":null,"created_by_id":242275,"client_name":"Joe''s
        Steam Cleaning 2"}},{"invoices":{"id":2315114,"client_id":1446347,"period_start":null,"period_end":null,"number":"5","issued_at":"2013-01-23","due_at":"2013-01-23","amount":10.0,"currency":"United
        States Dollars - USD","state":"draft","notes":"","purchase_order":"","due_amount":10.0,"due_at_human_format":"upon
        receipt","created_at":"2013-01-23T18:56:55Z","updated_at":"2013-01-23T18:56:55Z","tax":null,"tax_amount":0.0,"subject":"","recurring_invoice_id":null,"tax2"[...]
- request:
    method: get
    uri: https://api.harvestapp.com/invoices/2563573?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-served-from:
      - https://api.harvestapp.com/invoices/2563573
      x-server:
      - rails14
      x-lb:
      - lb2
    body:
      encoding: US-ASCII
      string: ! '{"invoice":{"id":2563573,"client_id":1446347,"period_start":null,"period_end":null,"number":"6","issued_at":"2013-03-22","due_at":"2013-03-22","amount":30.0,"currency":"United
        States Dollars - USD","state":"draft","notes":"","purchase_order":"","due_amount":30.0,"due_at_human_format":"upon
        receipt","created_at":"2013-03-22T21:09:34Z","updated_at":"2013-03-22T21:09:34Z","tax":null,"tax_amount":0.0,"subject":"Some
        thing that was done for $$","recurring_invoice_id":null,"tax2":null,"tax2_amount":0.0,"client_key":"1dbcba8fbc6a350bfeb42f1a2212095370261974","estimate_id":null,"discount":null,"discount_amount":0.0,"retainer_id":null,"created_by_id":242275,"csv_line_items":"kind,description,quantity,unit_price,amount,taxed,taxed2,project_id\nService,\"Something
        was done for you, and we like money.\",1.00,30.00,30.0,false,false,\n"}}'
  recorded_at: Wed, 29 Oct 2014 21:07:15 GMT
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/clients/1446347?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-served-from:
      - https://api.harvestapp.com/clients/1446347
      x-server:
      - rails5
      x-lb:
      - lb2
    body:
      encoding: US-ASCII
      string: ! '{"client":{"id":1446347,"name":"Joe''s Steam Cleaning 2","active":true,"currency":"United
        States Dollars - USD","highrise_id":null,"cache_version":2097104244,"updated_at":"2013-01-14T20:13:33Z","created_at":"2013-01-14T20:13:32Z","currency_symbol":"$","details":"Steam
        Cleaning across the country","default_invoice_timeframe":null,"last_invoice_kind":"free_form"}}'
  recorded_at: Wed, 29 Oct 2014 21:07:17 GMT
[...]
- request:
    method: get
    uri: https://api.harvestapp.com/account/who_am_i?access_token=<ACCESS_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-served-from:
      - https://api.harvestapp.com/account/who_am_i
      x-server:
      - rails4
      x-lb:
      - lb2
    body:
      encoding: US-ASCII
      string: ! '{"company":{"base_uri":"https://bcobbtest.harvestapp.com","full_domain":"bcobbtest.harvestapp.com","name":"Brian''s
        Test Venture","active":true,"week_start_day":"Monday","time_format":"decimal","clock":"12h","decimal_symbol":".","color_scheme":"orange","modules":{"expenses":true,"invoices":true,"estimates":true,"approval":false},"thousands_separator":",","plan_type":"free"},"user":{"timezone":"Central
        Time (US & Canada)","timezone_identifier":"America/Chicago","timezone_utc_offset":-18000,"id":242275,"email":"b@bcobb.net","admin":true,"first_name":"Brian","last_name":"Cobb","avatar_url":"/assets/default_user_avatar.png?1414615311","project_manager":{"is_project_manager":true,"can_see_rates":true,"can_create_projects":true,"can_create_invoices":true},"timestamp_timers":false}}'
  recorded_at: Wed, 29 Oct 2014 21:07:18 GMT
recorded_with: VCR 2.4.0
