%h3 Our Commitment To Privacy

%p Your privacy is important to us. To better protect your privacy we provide this notice explaining our approach to privacy. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.

%h4 The Information We Collect

%p This notice applies to all information collected or submitted on the Reaper.io web application. On some pages, you may be asked to provide personal information such as, Name, Address, Email address, Phone number.
 
%p Reaper.io software may collect information on how the software is being used such as, Number of Transactions made, Invoice Details, Harvest Account Information, IP Address, Operating System used etc.

%h4 The Way We Use Information

%p We use the information you provide about yourself to confirm your identity for the purposes of our Terms of Service and occasionally to reach out to our customers to get feedback on our product. We do not share this information with outside parties except to the extent required by law.
 
%p We use the information we collect about the use of Reaper.io software and the website for the purposes of understanding the usage patterns and refining the software and website to better meet the needs of users. The data shared is non-identifying and aggregate information. For example, we may tell a partner that X number of companies or individuals from an industry are using Reaper.io, or that on average companies process Y number of invoices using Reaper.io, but we would not disclose anything that could be used to identify those individuals.
 
%p We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.
 
%p Finally, we never use or share the personally identifiable information provided to us in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.

%h4 Our Commitment To Data Security

%p To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we use appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.

%h4 How To Contact Us

%p Should you have other questions or concerns about these privacy policies, send us an email at <a href="mailto:support@cramerdev.com">support@cramerdev.com</a>.