%h3 The Gist.

%p We (the folks at <a href="http://cramerdev.com">Cramer Dev</a>) run a service called <a href="http://reaper.io">Reaper.io</a> and would love for you to use it. Right now, this service is free to use for an unspecified amount of time. We may decide to start charging for it at some point in the future. Our service is designed to save you lots of time in creating and sending invoices. However, it is your responsibility to verify the accuracy of any invoices that are created using this service.

%p If you find a bug or problem with our service, please be sure to let us know about it so that we can fix it. You can always get in touch with us at <a href="mailto:support@cramerdev.com">support@cramerdev.com</a>.

%p Before you use Reaper.io, you must read and agree to this Terms of Service ("TOS"). By using the Reaper.io services (the "Service"), you agree to be bound by the TOS and you agree that it is enforceable as if it were a written negotiated agreement signed by Cramer Dev ("Cramer Dev") and you.

%p Cramer Dev may, in its sole discretion, modify or revise the TOS at any time without notice to you, and you agree to be bound by such modifications or revisions. Unless explicitly stated otherwise, any new features that enhance or modify the current Service shall be subject to the TOS. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the TOS at any time at: <a href="/tos">http://reaper.io/tos</a>

%ol
  %li Description of Service. Reaper.io is a web-based invoice processing application created by Cramer Dev (the "Service"). Your use of the Service is at your sole risk. The service is provided on an AS IS and AS AVAILABLE basis. You understand that your content may be transferred unencrypted over the internet.

%h4 Eligibility.

%p You must be at least thirteen (13) years of age to use this Service. You must provide your current, accurate identification, contact, and other information that may be required as part of the registration process and/or continued use of the Service. You are responsible for maintaining the confidentiality of your Service password and account, and are responsible for all activities that occur thereunder. Cramer Dev reserves the right to refuse service to anyone at any time without notice for any reason.

%h4 Proper Use.

%p You agree that you will use the Service in compliance with all applicable local, state, national, and international laws, rules and regulations, including any laws regarding the transmission of technical data exported from your country of residence. You shall not, shall not agree to, and shall not authorize or encourage any third party to:

%ul
  %li use the Service to upload, transmit or otherwise distribute any content that is unlawful, defamatory, harassing, abusive, fraudulent, obscene, contains viruses, or is otherwise objectionable as reasonably determined by Cramer Dev;
  %li use the Service for any fraudulent or inappropriate purpose; resell, duplicate, reproduce or exploit any part of the Service without the express written permission of Cramer Dev;
  %li use any robot, spider, other automated device, or manual process to monitor or copy any content from the Service.
  %li Violation of any of the foregoing may result in immediate termination of this Agreement, and may subject you to state and federal penalties and other legal consequences.

%h4 Security

%p We follow generally accepted industry standards to protect the personally identifiable information submitted to us, both during transmission and once we receive it. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, while we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.

%h4 Payment Terms.

%p Currently, the service is free to use for a limited time. If and when we decide to charge money for this service, you will be notified in advance and asked to upgrade your account. 

%h4 Modification to Fees and Services.

%p Cramer Dev reserves the right to modify, suspend, or discontinue the Service at any time for any reason with or without notice. Cramer Dev reserves the right to change Service fees at any time. Such notice may be provided at any time by posting the changes to the Reaper.io Site (www.reaper.io) or the Service itself.

%h4 Cancellation and Termination.

%p You are solely responsible for the proper cancellation of your account. You may cancel your account at any time by contacting us.

%h4 Intellectual Property Rights.

%p You acknowledge that Cramer Dev owns all right, title and interest in and to the Service, including without limitation all intellectual property rights, and such rights are protected by U.S. and international intellectual property laws. You agree that you will not copy, reproduce, alter, modify, or create derivative works from the Service. You also agree that you will not use any robot, spider, other automated device, or manual process to monitor or copy any content from the Service. Cramer Dev claims no intellectual property rights over the material you provide to the Service.

%h4 Warranties and Liability.

%p Cramer Dev does not warrant that: (i) the Services will meet your requirements or expectations, (ii) the Service will be timely, uninterrupted or error-free or operate in combination with any other hardware, software, system or data, (iii) bugs or errors will be corrected, (iv) the mathematical calculations performed by the Service is accurate. The Services are provided to you strictly on an "as is" basis. All conditions, representations and warranties, whether express, implied, statutory or otherwise, including, without limitation, any implied warranty of merchantability, fitness for a particular purpose, or non-infringement of third party rights, are hereby disclaimed to the maximum extent permitted by applicable law. You expressly understand and agree that Cramer Dev shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Cramer Dev has been advised of the possibility of such damages), resulting from your usage of the Service.

%h4 Indemnification.

%p You agree to hold harmless and indemnify Cramer Dev, and its affiliates, officers, agents, and employees from and against any third party claim arising from or in any way related to your use of the Service, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys' fees, of every kind and nature. In such a case, Cramer Dev will provide you with written notice of such claim, suit or action.

%p The failure of Cramer Dev to exercise or enforce any right or provision of the TOS shall not constitute a waiver of such right or provision. The TOS constitutes the entire agreement between you and Cramer Dev and govern your use of the Service, superseding any prior agreements between you and Cramer Dev (including, but not limited to, any prior versions of the TOS).

%p If you have any questions regarding this Terms of Service or if you wish to discuss the terms and conditions contained herein please contact Cramer Dev at <a href="mailto:support@cramerdev.com">support@cramerdev.com</a>.